@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--bg-color: #f1f1f1;
--bg-color2: #fbfbfb;
--bg-black: black;
--bg-brown: brown;
--bg-gray: rgb(109, 98, 98);
}
body{
 font-family: "Open Sans", sans-serif;
}
h1 ,h2, h3{
 font-family: "Oswald", sans-serif;
 color: var(--bg-gray);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*مكرر اكتر من مرة*/
 .container{
    max-width: 1200px;
    margin: auto;
 }
 .text-styl{
  color: rgb(136, 28, 28);
 }
/*مكرر اكتر من مرة*/

/*header star*/
 #header{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid var(--bg-gray);
}
.nav-bar .logo{
  width: 280px;  
}
 #header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 70px;
 }
#header .nav-bar ul{
    display: flex;
    
}
#header .nav-bar ul li {
  margin: 0 20px;
}
#header .nav-bar ul li a{
    color: var(--bg-gray);
    font-size: 16px;
    font-weight: 500;
    padding: 4px 5px;
    border-radius: 3px;
}
#header .nav-bar ul li a:hover{
    color: var(--bg-brown);
}
#header .nav-bar ul li a:active{
    background-color: rgb(248, 233, 148);
}
/*header end*/

/*home star */
#Home{
    background: url("./imgs/home-bg.png")center no-repeat;
    background-size: 100%;
    background-color: var(--bg-color);
}
#Home .content,
#About .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    grid: 3rem;
    align-items: center;
    
}
#Home .content .content-text h3{
    font-size: 24px;
    margin-bottom: 100px;
    margin-left: 35px;
    
}
#Home .content .content-text h1{
 font-size: 70px;
 direction: rtl;
 margin: 60px 4px;

}
#Home .content .content-text p{
 direction: rtl;
 font-size: 20px;
 max-width: 420px;
 margin: auto;
 
}
#Home .content .content-img,
#About .content img{
    display: block;
    width: 100%;
}
#Home .content .content-text .btn{
    display: inline-block;
    margin-top: 3rem;
    background-color: var(--bg-brown);
    padding: 10px 6px;
    color: var(--bg-color);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#Home .content .content-text .btn:hover{
    background-color: gold;
    color: var(--bg-black);
}
/*home end */

/*about star*/
#About,
#Menu{
    padding: 2rem 0;
}
#About .content .content-text{
 line-height: 1.6;
}
#About .content .content-text h2{
    font-size: 28px;
    margin-bottom: 10px;
}
#About .content .content-text p{
    margin: 2rem;
    font-size: 18px;
    direction: rtl;
}
#About .content .content-text p span{
    color: rgb(131, 87, 5);
    font-size: 20px;
}
#About .content .content-text .para-style{
  border-bottom: 1px dashed black;
  padding-bottom: 1rem;
}
/*about end*/

/*menu start*/
#Menu{
    background-color: var(--bg-color);
}
.heding{
    text-align: center;
}
.heding span{
    font-weight: 700;
}
.heding h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
#Menu .items-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    align-items: center;
}
#Menu .items-menu .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    border: 1px solid rgb(223, 222, 222);
    padding: 0 10px ;
    line-height: 1.3;
}
#Menu .items-menu .item img{
    width: 80px;
    border-radius: 50%;
    margin-right: 7px;
}
#Menu .items-menu .item h3{
   font-size: 20px;
   margin-bottom: 10px;
   color: var(--bg-brown);
   font-style: italic;
}
#Menu .items-menu .item p{
    margin: 2px 4px;
    color: var(--bg-gray);
    font-weight: 600;
}
#Menu .items-menu .item .para-style{
    color: gold;
    text-decoration:underline;
    cursor: pointer;
}
/*menu end*/

/*contact star*/
#Contact{
    margin-top: 2rem;
}
#Contact .contact-me{
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    gap: 2rem;
    margin-top: 3rem;
   
}
#Contact .location iframe{
    width: 100%;
    height: 100%;
}
#Contact .from h3{
    text-align: center;
   font-size: 24px;
   margin: 8px 0;
   color: var(--bg-brown);
}
#Contact form input,
#Contact form textarea{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed grey;
    font-weight: 600;
    line-height: 1.4;
    
}
#Contact form .submit{
    background-color: var(--bg-gray);
    color: var(--bg-black);
    border: none;
    border-radius: 7px;
}
#Contact form .submit:hover,
#Contact form .submit:active{
    background-color: gold;
}
/*contact end*/
/*footer star*/
#footer{
    background: url(./imgs/footer-bg.png);
    color: var(--bg-color);
    padding-top: 3rem;
    padding-left: 1rem;
    margin-top: 2rem;
}
#footer .rows{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:3rem;
    line-height: 1.7;
    
}
#footer .rows h3{
 margin-bottom: 1rem;
 color: var(--bg-color);
 text-decoration: underline;
}
#footer .rows  p{
font-size: 14px;
}
#footer .rows ul li a{
    color:var(--bg-color);
    font-size:14px;
}
#footer .rows ul li {
   font-size:14px; 
}
#footer .rows ul li i{
    color: rgb(145, 145, 185);
    margin-right: 8px;
}
#footer .auther{
    color: var(--bg-color);
    background-color: rgb(39, 39, 53);
    text-align: center;
    padding: 10px 0;
    margin-top: 3rem;
}
#footer .auther span:hover{
    color: var(--bg-brown);
}
/*footer end*/
@media (max-width:600px){

    .nav-bar .logo{
    width: 220px;
   }
    #header .nav-bar {
   height: auto;
   flex-direction: column;
   padding-bottom: 4px;

   }
   #header .nav-bar ul li{
    margin: 10px;
   }
   #Home .content{
     grid-template-columns:2fr 1fr ;
     gap:1rem;
     padding: 140px 0  20px 0;
     height: auto;
   }
   #Home .content .content-img{
    width: 100%;
   }
   #Home .content .content-text h3{
        font-size: 16px;
        margin-bottom: 4px;
        margin-left: 20px;
   }
   #Home .content .content-text h1{
        font-size: 30px;
        direction: rtl;
        margin: 15px 3px;

}
#Home .content .content-text p{
 direction: rtl;
 font-size: 16px;
 max-width: 420px;
 margin: auto;
 
}
#Home .content .content-text .btn{
    font-size: small;
    margin-left: 15px;
}
#About .content{
     grid-template-columns:1fr 2fr ;
     gap:1rem;

     height: auto;
}
#About .content .content-text p{
     margin: 1rem;
    font-size: 16px;

}
#Menu .items-menu{
    grid-template-columns:none;
    gap: 0;
}
#Menu .items-menu .item{
    border: none;
    border-bottom: 1px solid rgb(223, 222, 222);
  margin: 25px 0;
}
#Menu .items-menu .item img{
    width: 60px;
}
#Menu .items-menu .item h3{
    font-size: 16px;
}
#Menu .items-menu .item p{
    font-weight: 500;
    font-size: 15px;
}
#Contact{
    margin-top: 0rem;
}
#Contact .contact-me{
    display: flex;
    flex-direction: column;
    gap: 0;
   margin-top: 1rem;
}
#Contact .location iframe{
    width: 100%;
    height: 200px;
}
#Contact form .submit{
    max-width: 50%;
}
#Contact form input,
#Contact form textarea{
    margin: 10px 20px ;
    width: 90%;
}
#footer{
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}
#footer .rows{
    display:flex;
    flex-wrap: wrap;
    gap:3rem;
    line-height: 1.7;
    
}

}
@media (min-width:601px) and (max-width:1000px){
  #Home .content{
     padding: 0 ;
     height: auto;
  
   }
      #Home .content .content-text h3{
       
        margin-bottom: 4px;
        margin-left: 20px;
   }
   #Home .content .content-text p{
 max-width: 420px;
 margin: auto;
 
}
   #Home .content .content-text .btn{
    font-size: small;
    margin-left: 15px;
}
#About .content{
     grid-template-columns:1fr 2fr ;
     gap:1rem;

     height: auto;
}
#Menu .items-menu{
    grid-template-columns:none;
    gap: 0;
}

}



